<div class="follow_count">
	<%= link_to(following_user_path(user)) do %>
	<%= user.following.count %>
	フォロー/
	<% end %>
	<%= link_to(followers_user_path(user)) do %>
	<%= user.followers.count %>
	フォロワー
	<% end %>
</div>