<h3><%= title %></h3>
<%if controller.action_name == "index" %>
<%= render  'search' %>
<% end %>
<ul class="users-index" id="users-index">
 <%= render 'users/pagenate', users: users %>
</ul>
 <%= link_to_next_page users, 'もっと見る', remote: true, class: 'btn-warning btn btn-lg', id: 'more_link' unless users.nil? %>
