<h3>Users</h3>

<div class="users-index">
 <% @users.each do |user| %>
 <%= attachment_image_tag user, :image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>
 <p>
 <%= link_to user.name, user %>
</p>

 <div class="users-index__posts">
 	<% user.posts.first(3).each do |post| %>
 	<%= link_to(post) do %>
 	<%= attachment_image_tag post, :image, class: "users-index__posts--picture" %>
 	<% end %>
 	<% end %>
 </div>
 <% end %>
</div>
