/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 font-size: 18px;
}

body {
 background: #F8F8FF;
 color: #333;
 font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.navbar-default {
     background-color: #F8F8FF;
    border-color: #e7e7e7;
}

//topページ
.home {
  background-image:url(image-path('road.jpg'));
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding-top: 4rem;
  position: relative;
}

.app-title {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  color: #333;
}

.outline {
 text-align: center;
 font-size: 1rem;
 color: #333;
}

.topbtn-block {
 text-align: center;
 .topbtn{
   color: #ffffff;
   background: rgba(0, 0, 0, 0.3);
   border: 1px solid #fff;
 }
}

a {
  color: #333;
}


h2 {
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
	text-align: center;
	margin: 1rem auto;
	font-size: 2.5rem;
}
//フォーム
.box {
  width: 580px;
  background: #ffffff;
  margin: 2rem auto 0;
  padding: 2rem 5rem;
}

.actions {
  margin-top: 3rem;
  text-align: center;
}

.form input:not([type="submit"]) {
    width: 100%;
    border: none;
    border-bottom: 1px solid #E9EAED;
    font-size: 1rem;
    padding-bottom: .7rem;
    margin-bottom: 3rem;
}


//投稿リスト
.posts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
    width: 900px;
    &__item {
    	width: 33%;
    	display: block;
    	box-sizing: border-box;
    	padding: .5rem;
      &--deteil {
        display: flex;
        padding: .7rem .3rem;
        border-bottom: 1px solid #dee2e6;
        margin-bottom: .5rem;
      }
    }
}

/*.post-title {*/
  /*margin: 0;*/
/*}*/

.prof-name {
  margin-bottom: 0;
  margin-left: .2rem;
  padding-top: .3rem;
}

.prof-image {
  border-radius: 50%;
  object-fit: cover;
}

.stats {
  padding-top: .3rem;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  &__icon + &__icon {
    margin-left: .2rem;
  }
}

.post-image {
  width: 100%;
  height: 16rem;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.by {
  margin-right: .2rem;
  padding-top: .3rem;
}

.text-muted {
    color: #6c757d!important;
}

//投稿詳細　post show
.post-show {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
}

.post-action {
  display: flex;
  &__edit{
    margin-left: auto;
    display: flex;
    &--icon {
      font-size: 20px;
      padding-right: .3rem;
      padding-top: .4rem;
    }
    &--item {
      list-style: none;
    }
  }
}
.like_action {
  &__btn {
    background: transparent;
    border: none;
    font-size: 32px;
  }
}
.like_cnt {
  font-size: 1rem;
  margin-left: .3rem;
  margin-top: .5rem;
}

.post-user {
  display: flex;
	padding: 2rem;
	background: #fff;
  border: 1px solid #dee2e6;
	&__name {
		margin-left: 1rem;
		font-size: 1.3rem;
	}
}
.post-discription {
		margin-top:1rem;
		padding: 2rem;
    background: #fff;
    border: 1px solid #dee2e6;
}

.post-picture {
  width: 100%;
}

.post-info {
  &__comment {
    margin-top: 1rem;
    padding: 2rem;
    background: #fff;
    border: 1px solid #dee2e6;
  }
}

.comments {
  display: flex;
  position: relative;
  padding: 1rem 0 0;
  margin-left: 1rem;
  margin-top: 1rem;
  border-top:  1px solid #dee2e6;
  &__info {
    margin-left: 1rem;
   &--destroy {
      position: absolute;
      right: 2rem;
      border: none;
    }
  &--name {
    font-size: 1rem;
  }
  &--date {
    font-size: .6rem;
  }
  &--content {
    font-size: .9rem;
  }
 }
}

.comment-form {
  display: flex;
  .post-comment {
    border: 1px solid #dee2e6;
    border-radius: .5rem;
    padding: 0.5rem;
    width: 600px;
    height: 60px;
    margin-left: 2rem;
    font-size: 1rem;
  }
}

.enter {
  display: none;
}

//投稿編集　post edit
.text-c {
  text-align: center;
}

.margin-t-1 {
  margin-top: 1rem;
}

.edit-picture {
    width: 100%;
    margin-top: 1rem;
}

//ユーザー一覧
.users-index {
	display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
    &__item {
      width: 25%;
      display: block;
      box-sizing: border-box;
      padding: .5rem;
      &--deteil {
        display: flex;
        margin-bottom: .5rem;
      }
    }
}

.user-image {
  width: 100%;
  height: 10rem;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.at {
  margin-right: .2rem;
  padding-top: .1rem;
}

//ユーザープロフ　users prof
.user-looks {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #eeeeee;
  padding-top: 1rem;
  max-width: 500px;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  background-color: #808080;
}

.user-looks:before{
  content: '';
  background: inherit;
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.user-prof {
	text-align: center;
}

.user-prof a{
  color: #fff;
}


.link-prof {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: #fff;
  list-style: none;
  &__item + &__item {
    margin-left: 1rem;
  }
  &__item a {
    color: #fff;
  }
}

.f-btn {
  margin-top: .3rem;
}

.user-name {
  font-size: 1.5rem;
}

//マップ
.info-image {
  /*max-width: 400px;*/
  width: 300px;
  display: block;
}

.map-container {
  margin: 0 auto;
  width: 100%;
}

//検索フォーム
.search{
  text-align: center;
  margin-bottom: 1rem;
  &__form {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
  }
  &__field {
    height: 1.8rem;
  }
}

.mb-2 {
  margin-bottom: .2rem;
}

//スクロール
#more_link {
  display: block;
  max-width: 200px;
  margin: 2rem auto;
  background-color: #ffc107;
  border-color: #ffc107;
}

//ランキング
.rank {
  margin: 1rem auto;
  max-width: 900px;
  display: flex;
  &__btn {
    margin-left:auto;
  }
}